

ion-spinner{
   margin-left: 140px;
   margin-top: 70px;
    color: #ffffff;
}
h2{
    color: #ffffff;
    margin-left: 68px; 
    text-shadow: 5px 5px 10px #333;
}
p{
    color: #ffffff; 
    margin-left: 12%; 
    text-shadow: 5px 5px 10px #333;
}
h5{
    color: #ffffff; 
    margin-left: 14%; 
    text-shadow: 5px 5px 10px #333;
}

.imagem-align{
margin-left: 110px ;
}
.imagem{
   //background-image: url('/assets/imagens/imagemInicial.jpg');
   background-color:#2a7fffff;
    height: 700px;
    width: 600px;  
}
.ajustimagem{
    margin-left: 17px;
}
