ion-content{
    justify-content: center;
    align-items: center;
    .container{
        background-color: #2a7fffff;
        height: 100%;
        margin-top: 200;
        text-align: center;
        align-items: center;
        justify-content: center;
    ion-spinner{
        margin-top: 10px;
        margin-bottom: 10px;
        margin: 0 auto;
         color: #ffffff;
     }
     h2{
         color: #ffffff;
         margin: auto;
         text-shadow: 5px 5px 10px #333;
     }
     p{
         color: #ffffff; 
         margin: auto;
         text-shadow: 5px 5px 10px #333;
     }
     h5{
         color: #ffffff; 
         margin: auto;
         text-shadow: 5px 5px 10px #333;
     }
     
     .imagem-align{
     margin: auto;
     }
     .imagem{
        //background-image: url('/assets/imagens/imagemInicial.jpg');
        background-color:#2a7fffff;
        
     }
     .ajustimagem{
        margin: auto;
    }

    }
}
    
    
    



