

ion-spinner{
   margin-left: 140px;
   margin-top: 70px;
    color: #ffffff;
}
h2{
    color: #ffffff;
    margin-left: 56px; 
    text-shadow: 5px 5px 10px #333;
}
p{
    color: #ffffff; 
    margin-left: 10%; 
    text-shadow: 5px 5px 10px #333;
}
img{
    margin-left: 110px;  
}

.imagem{
   background-image: url('/assets/imagens/imagemInicial.jpg');
    height: 700px;
    width: 600px;
    background-repeat: no-repeat;
}