ion-header{
    ion-toolbar{
        ion-title{
            background-color: dodgerblue;
            color: white;
            font-size: 20px;
        }
    }
}
ion-list{
    ion-item{
        margin-bottom: 10px;
        border-radius: 10px;
        border: solid 1px blue;
    }
    .button{
        margin-left: 80px;
    }
}