<ion-header>
  <ion-toolbar>
    
    <ion-title class="title">Adicionar uma excursão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="xcursion.email" placeholder="Email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="text" [(ngModel)]="xcursion.imagem" placeholder="Link da foto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="xcursion.nome" placeholder="Local"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="xcursion.valor" placeholder="Valor R$" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea type="text" [(ngModel)]="xcursion.descricao" placeholder="Descrição">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Ida:</ion-label>
      <ion-input type="date" [(ngModel)]="xcursion.dt_criacao">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Volta:</ion-label>
      <ion-input type="date" [(ngModel)]="xcursion.tempoRetorno" >
      </ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="text" [(ngModel)]="xcursion.qt_vagas" placeholder="Qtde viagens"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar >
    <ion-button  (click)="saveXcursion()" expand="block">Salvar</ion-button>
    <ion-button   (click)="Voltar()" expand="block">Voltar</ion-button>
  </ion-toolbar>
</ion-footer>
<!----Página programado por Thiago. Foi adicionado um formulario de lista de viagens-->