<ion-header>
  <ion-toolbar>
    <ion-title>Galeria de Fotos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 


  <div class="container">
    <ion-list >
      <ion-item *ngFor="let item of [0,1,2,3,4]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 58;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 38%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item-sliding >

        <ion-item button >
          <ion-label>
            <h2><strong></strong></h2> <br>
            <p> </p>

            <p></p>


          </ion-label>

          <ion-note color="primary" slot="end" ></ion-note>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="top" name="trash" ></ion-icon>
            Deletar
          </ion-item-option>

          <ion-item-option button >
            <ion-icon slot="top"></ion-icon>
            Alrerar fotos
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
 
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-item-sliding >
       <!--*ngFor="let user of users"-->
        <ion-col class="col-1"  size="2">
          <img src="assets/imagens/seta.png"  routerLink="/home" width="40" height="40">
        </ion-col>
        <ion-col class="col-2"  size="2">
          <img src="assets/imagens/home.svg"  routerLink="/home"  width="40" height="40">
        </ion-col>
        <ion-col class="col-3" size="2">
          <img src="assets/imagens/add.svg"  width="40" height="40">
        </ion-col>
      </ion-item-sliding>
    </ion-row>
  </ion-grid>
</ion-footer>


