

<div class="user">
  <img src="assets/imagens/user.svg" width="60">
  <div class="conteudo">
    <ion-list>
      <ion-item button >
        <h3>Dados pessoais</h3>
      </ion-item>
      <ion-item button>
        <h3>Editar</h3>
      </ion-item>
      <ion-item button>
        <h3>Informações</h3>
      </ion-item>
      <ion-item button>
        <h3 button routerLink="/contato">Contato</h3>
      </ion-item>
      
    </ion-list>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img src="assets/imagens/voltar.svg" width="30" height="30" button [routerLink]="['/home']" />
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

