.user{
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    background-color: #2a7fffff;
    img{
        margin-top: 10px;
    }
    background-color: #2a7fffff;
    margin-top: 5;

    .conteudo{
        border-radius: 10px;
        background-color: white;
        padding: 10;
        margin: auto;
       width: 100;
    }    
    
   }


    

   