<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>  Minhas participações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list *ngFor = "let participar of participarem">
<ion-item>
<ion-col>
<p><strong>Local: </strong> {{participar.nome}}</p>
</ion-col>

<ion-col>
  <p><strong>Ida: </strong> {{participar.dt_criacao}}</p>
  </ion-col>

  <ion-col>
    <p><strong>Volta: </strong> {{participar.tempoRetorno}}</p>
    </ion-col>
  
    <ion-col>
      <p> <strong>  Valor R$:</strong> {{participar.valor}}</p>
      </ion-col>
      <ion-col>
      <img src="assets/imagens/excluir.png" height="30" (click)="deletar(participar.id)">
</ion-col>
</ion-item>
</ion-list>

</ion-content>


