<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Minhas participações</ion-title>
  </ion-toolbar>
</ion-header>

<div class="search">
  <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="Procurar por local..." animate
    color="white">
  </ion-searchbar>
</div>

<ion-content>
  <ion-list *ngFor="let participar of participarem">
    <ion-item >
      <ion-col size="10" button [routerLink]="['/detail-participar', participar.id]">
        <strong>Local: </strong> {{participar.nome}}<br>
        <strong>Ida: </strong> {{participar.dt_criacao}}<br>
        <strong>Volta: </strong> {{participar.tempoRetorno}}<br>
        <strong>Valor R$: </strong> {{participar.valor}}
      </ion-col>
      <ion-col size="6">
        <img src="assets/imagens/excluir.png" height="30" (click)="deletar(participar.id)">
      </ion-col>
    </ion-item>
  </ion-list>
  <p class="ion-text">{{verificaParticipacao}}</p>
</ion-content>
<div class="rodape">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img src="assets/imagens/voltar.svg" width="30" height="30" button (click)="voltar()" />
      </ion-col>
    </ion-row>
  </ion-grid>
</div>