<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
     </ion-buttons>
    <ion-title>Detalhe da xcursão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
  
        <ion-label>
          <h1>Detahe da xcursão</h1>

         <h2>Nome da Viagem:</h2> <br>
          <h2> Qtde de viagem:</h2><br>
           <h2> Valor de viagem:</h2>
         
        </ion-label>
  
        <ion-note color="primary" slot="end" ></ion-note>
      

  </ion-list>






</ion-content>
