<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Detalhes da xcursão
      <img src="assets/imagens/favorito.png"(click)="saveFavoritos() " height="50">
    </ion-title>
</ion-toolbar>
</ion-header>

<div class="img">
  <img [src]="xcursion.imagem" width="100%" height="150px">
</div>

<ion-content>
  <ion-list>
  <ion-item>
    <h3><strong> Local da Excursão:</strong> {{xcursion.nome}}</h3>
  </ion-item>

  <ion-item>
    <h3><strong> Detalhes:</strong> {{xcursion.descricao}}</h3>
  </ion-item>

  <ion-item>
    <h3><strong> Valor em Dinheiro R$:</strong> {{xcursion.valor}}</h3>
  </ion-item>

  <ion-item>
    <h3><strong> Data partida:</strong> {{xcursion.dt_criacao}}</h3>
  </ion-item>

  <ion-item>
    <h3><strong> Data do retorno:</strong> {{xcursion.tempoRetorno}}</h3>
  </ion-item>

  <ion-item>
    <h3><strong> Qtde de vagas:</strong> {{xcursion.qt_vagas}}</h3>
  </ion-item>
</ion-list>
<ion-button (click)= "participar()">Participar</ion-button>
</ion-content>


  
    