ion-list{
    
    ion-item{
        margin-bottom: 10px;
        border-radius: 10px;
        border: solid 1px blue;
    }
}

h1{
    margin-left: 80px;
    color: blue;
    font: normal 18pt Arial;

}

h2{
    margin-top: 50px;
    margin-left: 120px;
    

}