<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
     </ion-buttons>
    <ion-title>Detalhe da xcursão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>

  <img [src]="xcursion.imagem">
</ion-item>
 
<ion-item>

  <h3><strong> Local da xcurção:</strong> {{xcursion.nome}}</h3>
  </ion-item>
  <ion-item>
  <h3><strong> Detalhes:</strong> {{xcursion.descricao}}</h3>
</ion-item>
<ion-item>
  <h3><strong> Valor em Dinheiro R$:</strong> {{xcursion.valor}}</h3>
</ion-item>
<ion-item>
  <h3><strong> Data agendado:</strong> {{xcursion.dt_criacao}}</h3>
</ion-item>

<ion-item>
  <h3><strong> Data do retorno:</strong> {{xcursion.tempoRetorno}}</h3>
</ion-item>

<ion-item>
  <h3><strong> Qtde de vagas:</strong> {{xcursion.qt_vagas}}</h3>
</ion-item>
</ion-content>
