ion-segment{
    background-color: rgba(255,255,255,0.2);
    width: 75%;
    margin: 0 auto;
    border-radius: 5px;
}
.container{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    //background-color:var(--ion-color-primary);
    background-color: #0055d4ff;

    &.bottom{
        bottom: 10%;

        span{
            color:#ffff;
        }
    }
}

.paisagem{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60%;
    //background: var(--ion-color-primary);
    background-color: #0055d4ff;

    .road{
        position: absolute;
        top: -200px;
        left: 0;
        right: 0;
        //height: 100%;
        //width: 100%;
        // background-size: contain;
        //transition: all 0.7s;
    }
}

ion-slides{
    height: 100%;

    .slide-inner{
        margin-top: 10%;
        width: 75%;
        color:rgb(255, 255, 255);
       // background-color: var(--ion-color-primary);
        background-color: #0044aaff;
        border-radius: 10px;
        
        ion-item{
            --background: rgba(255,255,255,0.2);
            --border-radius: 10px;

            ion-input{
                --color: #fff;
            }
        }
    }
}
