<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Calendário</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header tappable (click)="collapseCard = !collapseCard" >
  <ion-card-title >Agendar eventos</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">
  <ion-item>
  <ion-input type="text" placeholder="Titulo"[(ngModel)]="event.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Descrição"[(ngModel)]="event.desc"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Inicio</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="MMM HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
      </ion-item>
  
      <ion-item>
      <ion-label>Fim</ion-label>
      <ion-datetime type="date" displayFormat="DD/MM/YYYY" pickerFormat="MMM HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
      </ion-item>
  <ion-item>
      <ion-label>Todos os dias?</ion-label>
      <ion-checkbox  [(ngModel)]="event.allDay"></ion-checkbox>
      </ion-item>
  <ion-button fill="outline" expand="block" (click)="AddEvents()" >Add eventos</ion-button>
  </ion-card-content>
  </ion-card>
  <calendar [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
        startHour='60'
        startingDayWeek='1'
        step="30">
        
    </calendar>

</ion-content>
