 .img{
 margin-left:150px;
 height: 60px;
 }
 .rodape{
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #d7eef4ff;
    img{
        float: right;
        margin-right: 20px;
    }
}
    