<div #map class="top">
  <label>
    <h2>Encontre suas viagens aqui e divirta-se!!!</h2>
  </label>
   <div class="subtopo">
      <img src="assets/imagens/heart.svg" (click)="favoritos()" height="30" />
      Meus favoritos
      <ion-checkbox [ngModel]="outrasViagens" (click)="acionar()"></ion-checkbox>
      <ion-label> Minhas viagens</ion-label>
   </div>
     
  <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="Procurar..." animate color="white">
  </ion-searchbar>
</div>
<ion-content>
   
  <div class="container">
    <ion-list *ngIf="!xcursions.length">
      <ion-item *ngFor="let item of [0,1,2,3,4]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 58;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 38%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item-sliding *ngFor="let xcursion of xcursions">
        <ion-item >
          <div class="alinhar">
          <img src="assets/imagens/busicon.png"  (click)="participarXcursion(xcursion.id,xcursion.nome, xcursion.qt_vagas)" height="20">
          <img src="assets/imagens/favorito.png" (click)="adicionarFavorito(xcursion.id, xcursion.nome)" height="25">
        </div>
          <ion-item button [routerLink]="['/detailscursion', xcursion.id]">
            <ion-label>
              <p><strong>{{xcursion.nome}}</strong></p> <br>
              <p style="font: normal 8pt arial"> <strong>Qtde:</strong> {{xcursion.qt_vagas}}</p>
              <p style="color:red; font:normal 8pt arial;"><strong>{{mensagemqtd}}</strong></p>
            </ion-label>
            <ion-note color="primary" slot="end" *ngIf="xcursion.valor"><strong> R$ {{xcursion.valor}}</strong></ion-note>
          </ion-item>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" button (click)='deleteXcursion(xcursion.id)' [disabled]="bloq== true">
            <ion-icon slot="top"></ion-icon>
            Excluir
          </ion-item-option>

          <ion-item-option button [routerLink]="['/detail', xcursion.id]" [disabled]="bloq== true">
            <ion-icon slot="top"></ion-icon>
            Alterar
          </ion-item-option>
          <ion-item-option color="success" button (click)="galeryPhoto()" [disabled]="bloq== true">
            <ion-icon slot="top"></ion-icon>
            <img src="assets/imagens/fotos.png" height="70">
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-item-sliding>

        <ion-col size="1">
          <img src="assets/imagens/home.svg" (click)="home()" width="40" height="40">
        </ion-col>

        <ion-col size="1">
          <img src="assets/imagens/gps.svg" routerLink="/gps" width="40" height="40">
        </ion-col>

        <ion-col size="1">
          <img src="assets/imagens/add.svg" (click)="detail()" width="40" height="40">
        </ion-col>

        <ion-col size="1" *ngFor="let user of users">
          <img src="assets/imagens/alterarLogin.png" button [routerLink]="['/alterar-login', user.id]" height="40">
        </ion-col>

        <ion-col size="1">
          <img src="assets/imagens/heart.svg" button (click)="favoritos()" width="40" height="40">
        </ion-col>

        <ion-col size="1">
          <img src="assets/imagens/visualizar.png" button (click)="MinhasParticipacoes()" width="40" height="40">
        </ion-col>

        <ion-col size="1">
          <img src="assets/imagens/sair.svg" (click)="logout()" width="40" height="40">
        </ion-col>

        <ion-col size="1">
          <img src="assets/imagens/more.svg" [routerLink]="['/menu']" width="40" height="40">
        </ion-col>
        
      </ion-item-sliding>
    </ion-row>
  </ion-grid>
</ion-footer>
<!--- Alterar login feitp por Thiago-->