<div #map class="top">
  <label>
    <h1>Encontre suas viagens aqui e divirta-se!!!</h1>
  </label>
  <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="Procurar..." animate color="white">
  </ion-searchbar>
</div>

<ion-content>
  <div class="container">
    <ion-list *ngIf="!xcursions.length">
      <ion-item *ngFor="let item of [0,1,2,3,4]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 58;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 38%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item-sliding *ngFor="let xcursion of xcursions">

        <ion-item button [routerLink]="['/detailscursion', xcursion.id]">
          <ion-label>
            <h2><strong>{{xcursion.nome}}</strong></h2> <br>
            <p> Qtde de viagem: {{xcursion.qt_vagas}}</p>

            <p> Data: {{xcursion.data | date : 'short'}}</p>


          </ion-label>

          <ion-note color="primary" slot="end" *ngIf="xcursion.valor"> R$ {{xcursion.valor}}</ion-note>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="top" name="trash" (click)="deleteXcursion(xcursion.id)"></ion-icon>
            Deletar
          </ion-item-option>

          <ion-item-option button [routerLink]="['/detail', xcursion.id]">
            <ion-icon slot="top"></ion-icon>
            Aterar
          </ion-item-option>

          <ion-item-option color="success" button [routerLink]="['/galeria-fotos',xcursion.id]">
            <ion-icon slot="top"></ion-icon>
            <img src="assets/imagens/fotos.png" height="70">
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-item-sliding >
       <!--*ngFor="let user of users"-->
        <ion-col size="2">
          <img src="assets/imagens/home.svg" [routerLink]="['/home']" width="40" height="40">
        </ion-col>

        <ion-col size="2">
          <img src="assets/imagens/gps.svg" routerLink="/gps" width="40" height="40">
        </ion-col>

        <ion-col size="2">
          <img src="assets/imagens/add.svg" routerLink="/detail" width="40" height="40">
        </ion-col>

        <ion-col size="2">
          <img src="assets/imagens/calendario.svg" routerLink="/calendario" width="40" height="40">
        </ion-col>

        <ion-col size="2">
          <img src="assets/imagens/sair.svg" (click)="logout()" width="40" height="40">
        </ion-col>

      </ion-item-sliding>
    </ion-row>
  </ion-grid>
</ion-footer>
<!--- Alterar login feitp por Thiago-->