<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
     </ion-buttons>
    <ion-title>Alterar login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slide>
    <div class="slide-inner ion-padding">
      <span style="font-weight: bolder;">foto</span>
      <br>
      <ion-item height="30">
       <img src="assets/imagens/foto1.png" height="20" >
      </ion-item>
      
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Nome"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input type="email"  placeholder="valor"></ion-input>
        </ion-item>
    
        <ion-item>
    <ion-input type="passoword" placeholder="senha">
    </ion-input>
        </ion-item>
      </ion-list>
      <ion-button class="ion-margin-top"  expand="block" color="dark" size="default">
       Alterar
      </ion-button>

    </div>
  </ion-slide>

</ion-content>
<!---Página criada por Thiago ---->