ion-icon{
    width: 30px;
    height: 60px;
    color:yellow;
}
p{
    color:blue;
}
h5{
    color:blue; 
}

.rodape{
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #d7eef4ff;
    img{
        float: right;
        margin-right: 20px;
    }
}