strong{
    color: blue;
}

.rodape{
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #d7eef4ff;
    img{
        float: right;
        margin-right: 20px;
    }
}
.ion-text{
    margin-top: 150px;
    margin-left: 50px;
}