ion-header{
    ion-toolbar{
        ion-title{
            background-color: #2a7fffff;
            color: white;
            font-size: 18px;
            height: 100%;

        }
    }
}

ion-content{
    background-color: darkturquoise;
}
.rodape{
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #d7eef4ff;
    img{
        float: right;
        margin: auto;
    }
}
strong{
    color: blue;
}
h5{
    color:green;
}

.alinhar{
    width: 400px;
    margin:0 auto;
    padding: 10px;
    text-align: center;
    img{
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    }
  h3{
     align-items: center;
     color: blue;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
  p{
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }

}
.cor-ion{
    color: blue;
}